body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background:  #764ba2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.3);
    padding: 40px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 600px;
}

h1 {
    font-size: 40px;   
}

#quote {
    font-size: 20px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #764ba2;
    border: none;
    border-radius: 8px;
    
}
